.log-cont {
    background-color: white;
    height: 2000px;
    box-shadow: -2px 2px 5px gray;
}

.other-row {
    background: linear-gradient(rgb(27, 78, 95), palevioletred);
    height: 2000px;
}

.button {
    background-color: palevioletred;
    width: 100%;
}

.container {
    margin-top: 200px;
    text-align: center;
}

.image {
    display: inline-block;
    height: 150px;
}

H2 {
    font-family: 'Press Start 2P';
    color: palevioletred;
}

.image-container {
    margin-top: 350px;
    text-align: center;
    visibility: hidden;
}

.validate {
    color: lightblue;
}

.input-field:focus {
    border: 1px solid gray;
    border-radius: 3px;
}

#sign-up-link {
    margin-left: 10px;
}

.signup {
    margin-top: 20px;
    font-size: 12px;
}

.login {
    width: 300px;
    display: inline-block;
    margin-top: 40px;
}